body {
    background-color: black;
}

d1 {
    color: #000000;
}

d2 {
    color: #000000;
    font-size: 20px;
    font-family: 'Helvetica';
    font-weight: bold;
    line-height: 30px;
    text-transform: capitalize;
    text-align: center;
    text-indent: 30px;
}